<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <!--Box icon-->
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'>
    <!--Remix icon-->
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!--Header-->
    <header>
        <a href="#"  class = "logo">
            <img src = "img/logo.png">
        </a>
        <ul class = "navlinks"> 
            <a href="#home" >Trang Chủ</a>
            <a href="#about" >Giới Thiệu</a>
            <a href="#sevices">Dịch Vụ</a>
            <a href="#feature">Công Nghệ</a>
            <a href="#contact">Liên Hệ<i class='bx bx-support'> </i> </a>
            <a class="login" id="login"> Đăng Kí </a>
        </ul>
        <div class = "h-right">
            <a href="#" ><i class='bx bx-search'> </i> </a>
            <a href="#" class ="h-btn">Đặt Xe </a>
            <div class = "bx bx-menu" id = "menu-icon" > </div>
        </div>
    </header>
    <!--Login-->
     <!--Home-->
     <section class = "home" id = "home">
        @RenderBody()
        <div class = "home-content">
            <div class = "home-text">
                <h5>Dịch Vụ Đặt Xe Cho Sinh Viên FPT Ở Vinhomes</h5>
                <h1>Đặt Xe An Toàn Tiện Lợi <br> Ở Vinhomes</h1>
            </div>
            <div class = "home-img">
                <img src = "img/home.png">
                <div class = "info-box">
                    <div class = "count"> 99+</div>
                    <div class = "info-text">Xe Taxi Luôn Có Sẵn</div>
                </div>
            </div>
        </div>
        <div class = "social-icons">
            <a href="#"><i class = "ri-facebook-fill"></i></a>
            <a href="#"><i class = "bx bxs-phone-call"></i></a>
            <a href="#"><i class = "bx bxl-instagram-alt"></i></a>
            <a href="#"><i class = "bx bxl-google"></i></a>
        </div>
        <!--About-->
        <div class = "arrow">
            <a href="#about"><i class = "ri-arrow-down-s-line"></i></a> 
        </div>
     </section>
     <section class = "about" id = "about">
        <div class = "about-img">
            <img src = "img/about1.jpg">

            <div class = "ab-img">
                <img src="img/about2.png">
            </div>
        </div>
        <div class = "about-text">
            <h5>CHÀO MỪNG BẠN ĐẾN VỚI DỊCH VỤ ĐẶT XE VINHOMES</h5>
            <h2>Chúng tôi cung cấp dịch vụ đáng tin cậy</h2>
            <p>Chúng tôi đáp ứng được các nhu cầu đặt xe của các sinh viên dù trong các hoàn cảnh bất lợi , 
                sẵn sàng đối phó với mọi tình huống , an toàn - bảo mật - nhanh chóng</p>
            <h4>Chúng tôi hứa hẹn mang lại những trải nghiệm hài lòng về dịch vụ đặt xe ở vinhomes </h4>
        <div class = "outer">
            <div class = "f-block">
                <i class = "ri-calendar-2-line"></i>
                Đặt xe Online
            </div>

            <div class = "f-block">
                <i class = "ri-customer-service-line"></i>
                Hỗ Trợ 24/7
            </div>

            </div>
            <a href="#" class = "btn"> Đặt Xe Ngay</a>
        </div>
    </section>

    <!-- service-->
    <section class ="service" id ="sevices">
        <div class = "text-center">
            <h5>DỊCH VỤ MỚI NHẤT</h5>
            <h2>KIỂM TRA DỊCH VỤ  <br> MỌI LÚC MỌI NƠI</h2> 
        </div>

        <div class = "services-content">
            <div class ="row">
                <div class ="s-img">
                    <img src="img/s1.jpg">
                </div>
                <h3>HỖ TRỢ NHIỆT TÌNH</h3>
                <p>Chúng tôi hứa hẹn sẽ cung cấp cho bạn những dịch vụ tốt nhất khi trải nghiệm ,
                    với chất lượng tài xế được kiểm duyệt nghiêm ngặt đào tạo bài bản về chất lượng dịch vụ</p>
            </div>

            <div class ="row">
                <div class ="s-img">
                    <img src="img/s2.jpg">
                </div>
                <h3>THAO TÁC DỄ DÀNG</h3>
                <p>Với những thao tác đơn giản , chỉ cần vài phút chúng tôi sẽ có mặt nhanh chóng để đưa đón bạn </p>
            </div>

            <div class ="row">
                <div class ="s-img">
                    <img src="img/s3.jpg">
                </div>
                <h3>NHANH CHÓNG - TIỆN LỢI</h3>
                <p>Bạn có thể đặt xe ở vinhomes bất cứ lúc nào mà không cần đợi chuyến với tỉ giá cước rất hời</p>
            </div>
        </div>
    </section>

    <!-- feature-->
    <section class = "feature" id = "feature">
        <div class = "text-center">
            <h5>CÔNG NGHỆ TIÊN TIẾN</h5>
            <h2>ĐỘI NGŨ CHÚNG TÔI NÂNG CẤP<br> TÍCH HỢP NHỮNG CÔNG NGHỆ MỚI NHẤT</h2>
        </div>

        <div class = "feature-content">
            <div class = "feature-left">
                <div class = "inner-box">
                    <i class='bx bxs-hand-up'></i>
                    <h4>Tùy chỉnh chuyến đi</h4>
                    <p>Bạn có thể thay đổi lịch trình đi một cách dễ dàng</p>
                </div>
                <div class = "inner-box">
                    <i class='bx bxs-wallet-alt'></i>
                    <h4>Thanh toán qua Thẻ Ví/ATM</h4>
                    <p>Không cần phải mang theo tiền mặt vướng víu bây giờ đã có thể một nhấn để thanh toán cuốc xe</p>
                </div>
                <div class = "inner-box">
                    <i class='bx bxs-car'></i>
                    <h4>Tạo nhiều điểm dừng / đón</h4>
                    <p>Khi bạn có nhu cầu di chuyển cách khoảng có thể tạo 1 chuyến xe với 2-3 điểm dừng theo ý bạn một cách dễ dàng</p>
                </div>
            </div>
            <div class = "feature-middle">
                <img src="img/f1.png">
            </div>
            <div class = "feature-right">
                <div class = "inner-box">
                    <i class='bx bx-menu-alt-right'></i>
                    <h4>Có thể lựa chọn các dòng xe</h4>
                    <p>Chúng tôi hiện có 2 dòng xe xe taxi Hybrid và xe taxi điện Vinfast</p>
                </div>

                <div class = "inner-box">
                    <i class='bx bx-cloud'></i>
                    <h4>Hiệu năng khí thải</h4>
                    <p>Vấn đề khí thải rất nan giải nên chúng tôi đã áp dụng các công nghệ và sử dụng các dòng xe điện để giảm lượng CO2 </p>
                </div>

                <div class = "inner-box">
                    <i class='bx bx-location-plus'></i>
                    <h4>Định vị GPS</h4>
                    <p>Định vị GPS một cách chính xác và tối ưu giữa điểm đến và điểm đón</p>
                </div>
            </div>
        </div>
    </section>

    <!--Contact-->
    <section class = "contact" id = "contact">
        <div class = "contact-box">
            <a href="#" class = "logo">
                <img src="img/logo.png"
            </a>
            <div class = "qr">
                <img src="img/qrcode.png">
            </div>
        </div>

        <div class = "contact-box">
            <h3>Links</h3>
            <a href="#">About</a>
            <a href="#">Our Vehicles</a>
            <a href="#">Services</a>
            <a href="#">Login</a>
        </div>

        <div class = "contact-box">
            <h3>Hỗ Trợ</h3>
            <a href="#">Adress : 31 Ung Văn Khiêm , P25 , TPCHM</a>
            <a href="#">Help & Support</a>
            <a href="#">Editor Help</a>
            <a href="#">More Products</a>
        </div>

        <div class = "contact-box">
            <h3>Công Ty</h3>
            <a href="#">Careers</a>
            <a href="#">Our Blog</a>
            <a href="#">Contact Us</a>
            <a href="#">Download</a>
        </div>

    </section>
    
    <div class = "copyright">
        <div class = "end-text1">
            <p>2024 Trịnh Hoàng Chương. All Rights Reserved</p>
        </div>
        <div class = "end-text2">
            <a href="#" > Chính sách bảo mật | Điều khoản & Điều kiện</a>
        </div>
    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <!--Lien ket Js-->
    <script src="script.js"></script>
</body>
</html>